/* Deklarera variabler för CSS */

:root {
  --primary-color: #2196f3;
  --secondary-color: #333;
  --primary-text-color: #333;
  --secondary-text-color: #5f9ea0;
  --light-text-color: #f4f4f4;
  --border-color: #888;
  --alert-error-color: #f29898;
  --alert-success-color: #689e68;
}
