<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cbd941066d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/utilities.css">
    @RenderSection("styles", false)
    <title>Westcoast Cars - @ViewBag.PageTitle</title>
</head>
<body>
    <nav id="navbar">
        <h1 class="logo"><span class="text-primary"><i class="fa-solid fa-car"></i>Westcoast </span>Cars</h1>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Start</a></li>
            <li><a asp-controller="Vehicles" asp-action="Index">Våra bilar</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Om Oss</a></li>
        </ul>        
    </nav>
    <main>
        @RenderBody()
    </main>

    <script src="~/js/app.js"></script>
    @RenderSection("scripts", false)
</body>
</html>